<template name="roundHistory">

    <table class="table table-striped">
        <caption class="lead">Results</caption>
        <tr>
            <th>#</th>
            <th>You</th>
            <th>Others</th>
            {{#if displayWinner}}
                <th>Winner</th>
            {{/if}}
            {{#if displayAverage}}
                <th>Average</th>
            {{/if}}
            {{#if displayAverageByVotes}}
                <th>Average<br/>(By Votes)</th>
            {{/if}}
            <th>Correct</th>
            <th>Your Points</th>
        </tr>
        {{#each rounds}}
            {{# if roundFinished}}
                <tr>
                    <td>{{getIndex}}</td>
                    <td>{{getMyAnswerString}}</td>
                    <td>{{getOtherAnswersString}}</td>
                    {{#if displayWinner}}
                        <td>{{getWinningAnswerString}}</td>
                    {{/if}}
                    {{#if displayAverage}}
                        <td>{{getAverageAnswerString}}</td>
                    {{/if}}
                    {{#if displayAverageByVotes}}
                        <td>{{getAverageByVotesString}}</td>
                    {{/if}}
                    <td>{{getCorrectAnswer}}</td>
                    <td>{{calcPoints}}</td>
                </tr>
            {{/if}}
        {{/each}}
    </table>

</template>