<template name="round">
    {{treatmentDisplay treatment context}}
</template>

<template name="oneStage">

    {{#if answersFinalized}}

        <!--Round completed-->

        {{#if taskCompleted}}
            <button type="button" id="goToExitSurvey" class="btn btn-success">Go to exit survey</button>
        {{else}}
            {{> timerNext}}
        {{/if}}

    {{else}}

        <!--Round in progress-->

        {{> timerFirst}}

        <form class="form-inline currPlayerInput">
            <span class="lead" for="inputAns">Your Answer:</span>
            <input type="text" id="inputAns" class="input-small" {{getDisabledStrForAns}}><span class="lead">%</span>

            {{#if currUserHasAns}}
                <button type="button" id="updateAns" class="btn btn-primary {{getDisabledStrForAns}}" {{getDisabledStrForAns}}>Revise</button>
                <button type="button" id="finalizeAns" class="btn btn-danger {{getDisabledStrForAns}}" {{getDisabledStrForAns}}>Finalize</button>
            {{else}}
                <button type="button" id="updateAns" class="btn btn-primary {{getDisabledStrForAns}}" {{getDisabledStrForAns}}>Submit</button>
            {{/if}}
        </form>

    {{/if}}

</template>
