<template name="answers">
    {{> treatmentDisplay}}
</template>

<template name="ansOneStage">

    {{#if answersFinalized}}

        <div class="correctAndAverageAns">
            <!--Correct Answer-->
            {{> correctAns}}
            <!--Average Answer-->
            {{#if showAvg}}
                {{> averageAns}}
            {{/if}}
        </div>

    {{/if}}

    <div class="answerList">

        {{#each userCursor}}
            {{#if isCurrentUser}}

                <span class="answer label label-danger currPlayerAnswer">
                    {{username}} => {{showAnswer}}
                    {{#if showBestAnsLabel}}
                        (Best Answer)
                    {{/if}}
                    <br/>
                </span>

            {{else}}

                <span class="answer label label-warning otherPlayerAnswers">
                    {{username}} => {{showAnswer}}
                    {{#if showBestAnsLabel}}
                        (Best Answer)
                    {{/if}}
                    <br/>
                </span>

            {{/if}}

        {{/each}}

    </div>

</template>

<template name="correctAns">
    <span class="lead">Correct Answer: {{correctAnswer}}% &nbsp;&nbsp;&nbsp;</span>
</template>

<template name="averageAns">
    <span class="lead">Average Answer: {{getAverage}}%</span>
</template>

