<template name="roundAnswers">
    {{> treatmentDisplay}}
</template>

<template name="roundAnswersTreatment">

    {{#if answersFinalized}}

        <div class="correctAndAverageAns">
            <!--Correct Answer-->
            {{> correctAns}}
            <!--Average Answer-->
            {{#if showAvg}}
                {{> averageAns}}
            {{/if}}
        </div>

    {{/if}}

    <ul class="list-group">

        {{#each userCursor}}
            {{#if isCurrentUser}}

                <li class="list-group-item list-group-item-danger answer currPlayerAnswer">
                    <span>{{username}}</span>
                    <strong>{{showAnswer}}</strong>
                    {{#if showBestAnsLabel}}
                        (Best Answer)
                    {{/if}}
                </li>

            {{else}}

                <li class="list-group-item list-group-item-info answer otherPlayerAnswers">
                    <span>{{username}}</span>
                    <strong>{{showAnswer}}</strong>
                    {{#if showBestAnsLabel}}
                        (Best Answer)
                    {{/if}}
                </li>

            {{/if}}

        {{/each}}

    </ul>

</template>

<template name="correctAns">
    <span class="lead">Correct Answer: {{correctAnswer}}% &nbsp;&nbsp;&nbsp;</span>
</template>

<template name="averageAns">
    <span class="lead">Average Answer: {{getAverage}}%</span>
</template>

