<template name="roundHistory">

    <table class="table table-striped">
        <caption class="lead">Results</caption>
        <tr>
            <th>#</th>
            <th>Yours</th>
            <!--<th>Others</th>-->
            {{#if displayWinner}}
                <th>Best Answer</th>
            {{/if}}
            {{#if displayAverage}}
                <th>{{getAverageHeader}}</th>
            {{/if}}
            <th>Correct</th>
            <th>Your Points</th>
        </tr>
        {{#each rounds}}
            {{# if roundFinished}}
                <tr>
                    <td>{{getIndex}}</td>
                    <td>{{getMyAnswerString}}</td>
                    <!--<td>{{getOtherAnswersString}}</td>-->
                    {{#if displayWinner}}
                        <td>{{getWinningAnswerString}}</td>
                    {{/if}}
                    {{#if displayAverage}}
                        <td>{{getAverageString}}</td>
                    {{/if}}
                    <td>{{getCorrectAnswer}}</td>
                    <td>{{calcPoints}}</td>
                </tr>
            {{/if}}
        {{/each}}
    </table>

</template>