<template name="roundHistory">

    <table class="table table-striped gameHistory">
        <caption class="lead">Results</caption>
        <tr>

            <th>#</th>

            <th>Your Answer</th>

            <th>Correct Answer</th>

            {{#if showBestAns}}
                <th>Best Answer</th>
            {{/if}}

            {{#if showAvg}}
                <th>Average</th>
            {{/if}}

            <th>Your Points</th>

        </tr>

        {{#each rounds}}
            {{# if isRoundFinished this.index}}
                <tr>
                    <td>{{getRoundIndexDisplay}}</td>

                    <td>{{getMyAnswerString}}</td>

                    <td>{{getCorrectAnswer}}</td>

                    {{#if showBestAns}}
                        <td>{{getBestAnswerString}}</td>
                    {{/if}}

                    {{#if showAvg}}
                        <td>{{getAverageString}}</td>
                    {{/if}}

                    <td>{{calcPoints}}</td>
                </tr>
            {{/if}}
        {{/each}}
    </table>

</template>