<template name="round">
    {{treatmentDisplay treatment context}}
</template>

<template name="oneStage">

    {{> question}}

    {{#if answersFinalized}}

        {{#if taskCompleted}}

        <!--All rounds completed-->
        <button type="button" id="goToExitSurvey" class="btn btn-success">Go to exit survey</button>

        {{else}}

        <!--Break between rounds-->
        {{> timerNext}}

        {{/if}}

    {{else}}

        <!--During round-->
        {{> timerFirst}}

        <form class="form-inline currPlayerInput">
            <span class="lead" for="inputAns">Your Answer:</span>
            <input type="text" id="inputAns" class="input-small" {{getDisabledStrForAns}}><span class="lead">%</span>
            <button type="button" id="updateAns" class="btn btn-primary {{getDisabledStrForAns}}" {{getDisabledStrForAns}}>Update</button>
            {{#if currUserHasAns}}
                <button type="button" id="finalizeAns" class="btn btn-danger {{getDisabledStrForAns}}" {{getDisabledStrForAns}}>Finalize</button>
            {{/if}}
        </form>

    {{/if}}

</template>
