<template name="roundAnswers">

    {{#if displayCorrectAnswer}}
        <li class="answer badge badge-success">
            <p class="badgeRow">{{correctAnswer}}%</p>
            <p>correct</p>
        </li>
    {{/if}}
    {{#if displayAverage}}
        <li class="answer badge badge-success">
            <p class="badgeRow">{{getAverage}}%</p>
            <p>average</p>
        </li>
    {{/if}}

    {{#each users}}

        {{#if isCurrentUser}}
            <li class="answer badge badge-important">
        {{else}}
            <li class="answer badge badge-warning">
        {{/if}}

            {{#if answersFinalized}}

                {{#if displayWinner}}
                    {{#if isBestAnswer}}
                        <p class="badgeRow">Winner</p>
                    {{/if}}
                {{/if}}

                {{#if displaySecondStage}}

                    {{#if secondStageIsVoting}}

                        {{#if voteFinalized}}
                            {{#if hasVote _id}}
                                <p class="badgeRow"><i class="icon-star"></i></p>
                            {{/if}}
                        {{else}}
                            <p class="badgeRow"><label><input type="radio" name="votes" {{isCheckedVote}}> Vote </label></p>
                        {{/if}}

                        {{#if displayNumVotes}}
                            <p class="badgeRow">{{getNumVotes}} vote(s)</p>
                        {{/if}}

                    {{/if}}

                    {{#if secondStageIsBetting}}
                        <p class="badgeRow">
                            {{#unless betsFinalized}}
                                <input type="checkbox" name="bets" id="{{_id}}" {{isCheckedBet}}>
                            {{/unless}}
                            {{#if isCheckedBet}}
                                <span>{{getBetAmount}}</span>
                                {{#unless betsFinalized}}
                                    <input type="button" class="increaseBet" value="&#x25B2;">
                                    <input type="button" class="decreaseBet" value="&#x25BC;">
                                {{/unless}}
                            {{/if}}
                        </p>
                    {{/if}}

                {{/if}}
                <p class="badgeRow">{{getAnswer}}%</p>

            {{else}}

                {{#if displayAnswer}}
                    <p class="badgeRow">
                        {{getAnswer}}{{#if hasAnswer}}%{{/if}}
                    </p>
                {{else}}
                    <p class="badgeRow">{{getStatus}}</p>
                {{/if}}

            {{/if}}
            <p class="badgeRow">{{username}}</p>

        </li>

    {{/each}}
</template>