<template name="tutorialRoundHistory">

    <table class="table table-striped">
        <caption class="lead">Results</caption>
        <tr>
            <th>#</th>
            <th>Yours</th>
            {{#if shouldDisplayWinner}}
                <th>Winner</th>
            {{/if}}
            <th>Average</th>
            <th>Correct</th>
            <th>Your Points</th>
        </tr>

        {{# if shouldDisplayResult}}
            <tr>
                <td>0</td>
                <td>{{getAliceAnswer}}</td>
                {{#if shouldDisplayWinner}}
                    <td>{{getWinningAnswer}}</td>
                {{/if}}
                <td>{{getAverage}}</td>
                <td>{{getCorrectAnswer}}</td>
                <td>{{calcPoints}}</td>
            </tr>
        {{/if}}
    </table>

</template>