ul#messageArea {
    height: 150px;
    overflow: auto;
    list-style: none;
}

ul#answerList {
    list-style: none;
}

p.badgeRow {
    text-align: center;
}

li.answer {
    padding:    5px;
    font-size:  120%;
}

.not-finalized {
    background-color: #FAA938;
}

.not-finalized-curr {
    background-color: #C76D6B;
}

.curr {
    color: #C76D6B;
}

td {
    text-align: center;
}
