/* Chat room formatting*/
ul#messageArea {
    height: 150px;
    overflow: auto;
    list-style: none;
}

div.answerList {
    padding-top:10px;
}

span.answer {
    font-size:  120%;
    padding: 10px;
}

/* Results table formatting */
/* ANDREW: please put a CSS class on these <td>s.  */
td {
    text-align: center;
}

/* Tutorial formatting */
div#tutorialText {
    display: block;
    height: 90px;
}

div.buttons {
    padding: 5px;
    display: block;
    height: 30px;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
}

input#tutorialInputEstimate {
    text-align: right;
}

/* Quiz */
label.bigfont {
    vertical-align: middle;
    font-size: 140%;
    padding: 5px;
}

textarea {
    width: 800px;
}
