/* Chat room formatting*/
ul#messageArea {
    height: 150px;
    overflow: auto;
    list-style: none;
}

/* Answer list */
li.answer {
    font-size:  120%;
}

/* Results table formatting */
td.roundHistory
{
    text-align: center;
}
th.roundHistory {
    text-align: center;
}


/* Tutorial formatting */
div#tutorialText {
    display: block;
    height: 90px;
}

div.buttons {
    padding: 5px;
    display: block;
    height: 30px;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
}

input#tutorialInputEstimate {
    text-align: right;
}

/* Quiz */
label.bigfont {
    vertical-align: middle;
    font-size: 140%;
    padding: 5px;
}

textarea {
    width: 800px;
}
