<template name="enterEstimates">
    <h3>Question {{getRoundIndexDisplay}} of {{numRounds}}: {{getQuestion}}</h3>
    <form class="form-inline">
        <span class="lead" for="inputEstimate">Your Answer:</span>
        <input type="text" id="inputEstimate" class="input-small" placeholder="" {{isDisabled}}><span class="lead">%</span>
        {{#unless allAnswersFinalized}}
            <button type="button" id="updateEstimate" class="btn btn-primary {{isDisabled}}" {{isDisabled}}>Update</button>
            {{#if hasAnswer}}
                <button type="button" id="finalizeEstimate" class="btn btn-danger {{isDisabled}}" {{isDisabled}}>Finalize</button>
            {{/if}}
        {{/unless}}

        {{#if allAnswersFinalized}}
            <button type="button" id="nextQuestion" class="btn btn-danger">Go To Next Question</button>
        {{/if}}
    </form>

    <div>
        <!--<label class="control-label lead">-->
            <!--Answers:-->
        <!--</label>-->
        <ul class="row">
            <li class="span1"></li>

            {{#if allAnswersFinalized}}
                <li class="answer badge badge-success">
                    <p>{{correctAnswer}}</p>
                    <p>correct answer</p>
                </li>
                <!--<li class="answer badge badge-success">-->
                    <!--<p>{{getAverage}}</p>-->
                    <!--<p>average</p>-->
                <!--</li>-->
            {{/if}}

            {{#each users}}
                <li class="answer badge badge-warning">
                    {{#if allAnswersFinalized}}
                        {{#if isBestAnswer _id}}
                            <p>Winner</p>
                        {{/if}}
                    {{/if}}
                    <p>{{getAnswer _id}}</p>
                    <!--<p>{{getStatus _id}}</p>-->
                    <p>{{username}}</p>
                </li>
            {{/each}}
        </ul>
    </div>

</template>