<template name="enterEstimates">
    <h3>Question {{getRoundIndexDisplay}} of {{numRounds}}: {{getQuestion}}</h3>
    {{> timerMain}}
    <form class="form-inline">
        <span class="lead" for="inputEstimate">Your Answer:</span>
        <input type="text" id="inputEstimate" class="input-small" placeholder="" {{isDisabled}}><span class="lead">%</span>
        {{#unless allAnswersFinalized}}
            <button type="button" id="updateEstimate" class="btn btn-primary {{isDisabled}}" {{isDisabled}}>Update</button>
            {{#if hasAnswer}}
                <button type="button" id="finalizeEstimate" class="btn btn-danger {{isDisabled}}" {{isDisabled}}>Finalize</button>
            {{/if}}
        {{/unless}}

        {{#if allAnswersFinalized}}
            {{> timerNext}}
        {{/if}}
    </form>

    <div>
        <!--<label class="control-label lead">-->
            <!--Answers:-->
        <!--</label>-->
        <ul class="row" id="answerList">
            <li class="span1"></li>

            {{> roundResults}}
        </ul>
    </div>

</template>