<template name="homepage">

    <div class="hero-unit">
        <h2>Welcome to our research experiment!</h2>
        <p>
            This task is part of a research experiment to study <a href="https://en.wikipedia.org/wiki/Wisdom_of_the_crowd" target="_blank">the wisdom of crowds phenomenon</a>.
            <br/><br/>Please <strong>do not discuss the details of this task</strong> with other workers or on any public message boards since
            such discussions will jeopardize the results of this experiment.

            <br/><br/>You will be matched with other MTurk workers to play a game, which involves answering a series of factual questions.
            You will receive a <strong>fixed base payment</strong> for completing this task.
            In addition, your performance in the game will be rewarded by a <strong>variable bonus payment ($0.1 to $1.1)</strong>.

            <br/><br/>Your participation in this research experiment is voluntary and you may quit at any time.
            If you quit before submitting this task, you will not be paid.
            Please contact Alice Gao at alice.gao11@gmail.com if you have any questions/comments about this research study.

            <br/><br/>We appreciate your participation and we hope you enjoy working on this task!
        </p>
        <p>
            <a class="btn btn-primary btn-large" id="goToTutorial">
                Proceed to the tutorial
            </a>
        </p>
    </div>


</template>