<template name="homepage">

    <div class="container">
        <div class="hero-unit">
            <h2>Welcome to our experiment!</h2>
            <p>
                This task is part of a research project to study
                <a href="https://en.wikipedia.org/wiki/Wisdom_of_the_crowd" target="_blank">
                    the wisdom of crowds phenomenon</a>.

                <br/><br/>

                Please <strong>do not discuss the details of this task</strong> with other workers or on any
                message boards since such discussions will jeopardize the results of this experiment.

                <br/><br/>

                In this task, you will play several games with other MTurk workers.  In each game, all players will answer
                a question and get points based on their answers.  You will receive a <strong>fixed base payment</strong>
                for completing this task.  Also, the average number of points you receive in all games will be converted
                to your <strong>bonus payment</strong>.

                <br/><br/>

                Before the task, you need to go through a tutorial and pass a quiz.  You must correctly answer all
                questions in the quiz to pass it, and you can attempt the quiz as many times as you like.  After the
                task, you need to complete an exit survey.

                <br/><br/>

                Your participation in this experiment is voluntary and you may quit at any time.
                If you quit before submitting this task, you will not be paid.  Please contact Alice Gao at
                alice.gao11@gmail.com if you have any questions/comments about this research study.

                <br/><br/>

                We appreciate your participation and we hope you enjoy working on this task!
            </p>
            <p>
                <a class="btn btn-success btn-large" id="goToTutorial">
                    Go to the tutorial
                </a>
            </p>
        </div>
    </div>


</template>