<template name="task">

    <div class="row">

            <div class="span7">
                <div>
                    {{> roundInputs}}
                </div>
                <div>
                    {{> chatRoom}}
                </div>
            </div>

        <div class="span5">
            <div>
                {{> roundHistory}}
            </div>
        </div>

    </div>

</template>

<template name="taskCompleted">
    <h3>Thank you for playing!</h3>
    <button type="button" id="goToExitSurvey" class="btn btn-success">Go To Exit Survey</button>
</template>