<template name="task">

    {{#if readyToRender}}

    <div class="row">
        <div class="span7">
            <div>
                {{> round}}
            </div>
            <div>
                {{> answers}}
            </div>
            {{#if showChatRoom}}
            <div>
                {{> chatRoom}}
            </div>
            {{/if}}
        </div>
        <div class="span5">
            <div>
                {{> roundHistory}}
            </div>
        </div>
    </div>

    {{/if}}

</template>
